In [32]:
import pandas as pd

In [33]:
columns_max = ['train_accuracy', 'test_accuracy', 'roc_auc',
           'precision_0', 'recall_0', 'f1_0', 
           'precision_1', 'recall_1', 'f1_1',
           'ks_stat','tp', 'tn']

# columns_max = ['train_accuracy', 'test_accuracy', 'roc_auc', 
#                'f1_0', 'f1_1', 'ks_stat','tp', 'tn']

# columns_max = ['tp', 'tn']

columns_min = ['fp', 'fn']
top_n = 30

### Using data from Approach 1

In [34]:
app_1 = pd.read_csv("./adasyn_app1_eval.csv")
app_1.head()

,k_neighbour,train_accuracy,test_accuracy,roc_auc,precision_0,recall_0,f1_0,precision_1,recall_1,f1_1,ks_stat,p_value,tp,tn,fp,fn
0,1,0.677434,0.657221,0.655991,0.657258,0.613936,0.634859,0.657191,0.698046,0.677003,0.326928,0.0,1179,978,615,510
1,2,0.677380,0.654351,0.653382,0.652953,0.617702,0.634839,0.655543,0.689061,0.671884,0.317096,0.0,1159,984,609,523
2,3,0.673834,0.661377,0.661417,0.667516,0.657878,0.662662,0.655281,0.664955,0.660083,0.323574,0.0,1036,1048,545,522
3,4,0.675884,0.656890,0.655826,0.657507,0.615819,0.635981,0.656373,0.695833,0.675527,0.318225,0.0,1169,981,612,511
4,5,0.559050,0.558030,0.557969,0.571763,0.460138,0.509913,0.548793,0.655799,0.597544,0.133411,0.0,1046,733,860,549

In [35]:
all_col_top_rows = {}
for col in columns_max:
    top_rows = app_1.sort_values(by=[col],ascending=False)[:top_n]['k_neighbour']
    all_col_top_rows[col + '_top_rows'] = set(top_rows)

for col in columns_min:
    top_rows = app_1.sort_values(by=[col],ascending=True)[:top_n]['k_neighbour']
    all_col_top_rows[col + '_top_rows'] = set(top_rows)

In [36]:
# Finding rows which are common in all the top_rows
common_rows = set()
for key,value in all_col_top_rows.items():
    if len(common_rows) == 0:
        common_rows = value
    else:
        common_rows = common_rows.intersection(value)
#     break

In [37]:
common_rows

{387, 546, 655, 1623, 1675, 1711, 1734, 1754, 1805, 1820, 1931}

In [38]:
top_rows_app_1 = app_1[app_1['k_neighbour'].isin(common_rows)]
# top_rows_app_1

In [39]:
top_rows_app_1.sort_values(by=['test_accuracy'],ascending=False)

,k_neighbour,train_accuracy,test_accuracy,roc_auc,precision_0,recall_0,f1_0,precision_1,recall_1,f1_1,ks_stat,p_value,tp,tn,fp,fn
1819,1820,0.750854,0.739684,0.739589,0.739213,0.731325,0.735248,0.740134,0.747853,0.743973,0.483714,0.0,1219,1165,428,411
1804,1805,0.751241,0.739373,0.739282,0.738744,0.731325,0.735016,0.739976,0.747239,0.743590,0.487138,0.0,1218,1165,428,412
1622,1623,0.749612,0.738442,0.738312,0.739464,0.726930,0.733143,0.737477,0.749693,0.743535,0.484427,0.0,1222,1158,435,408
386,387,0.748215,0.738132,0.738041,0.737476,0.730069,0.733754,0.738761,0.746012,0.742369,0.485854,0.0,1216,1163,430,414
1930,1931,0.749379,0.738132,0.738026,0.738080,0.728814,0.733418,0.738182,0.747239,0.742683,0.480247,0.0,1218,1161,432,412
1674,1675,0.748914,0.737822,0.737741,0.736709,0.730697,0.733691,0.738892,0.744785,0.741827,0.482315,0.0,1214,1164,429,416
1710,1711,0.752095,0.737822,0.737741,0.736709,0.730697,0.733691,0.738892,0.744785,0.741827,0.486538,0.0,1214,1164,429,416
1753,1754,0.747129,0.737512,0.737427,0.736542,0.730069,0.733291,0.738443,0.744785,0.741600,0.481718,0.0,1214,1163,430,416
654,655,0.753957,0.737201,0.737177,0.733709,0.735091,0.734399,0.740627,0.739264,0.739945,0.486496,0.0,1205,1171,422,425
1733,1734,0.748448,0.736891,0.736814,0.735610,0.730069,0.732829,0.738124,0.743558,0.740831,0.480689,0.0,1212,1163,430,418
545,546,0.749845,0.736271,0.736214,0.734089,0.731325,0.732704,0.738386,0.741104,0.739743,0.477366,0.0,1208,1165,428,422

### Using data from Approach 2

In [23]:
top_n = 30
app_2 = pd.read_csv("./smote_app2_eval.csv")
app_2.head()

,k_neighbour,train_accuracy,test_accuracy,roc_auc,precision_0,recall_0,f1_0,precision_1,recall_1,f1_1,ks_stat,p_value,tp,tn,fp,fn
0,1,0.670251,0.6450,0.658248,0.886264,0.635907,0.740497,0.323221,0.680590,0.438291,0.339494,0.0,277,1013,580,130
1,2,0.672057,0.6470,0.658589,0.885988,0.639046,0.742524,0.324324,0.678133,0.438792,0.340857,0.0,276,1018,575,131
2,3,0.668524,0.6475,0.657988,0.885417,0.640301,0.743169,0.324292,0.675676,0.438247,0.335315,0.0,275,1020,573,132
3,4,0.669309,0.6460,0.657047,0.885117,0.638418,0.741794,0.323149,0.675676,0.437202,0.336571,0.0,275,1017,576,132
4,5,0.667818,0.6445,0.657935,0.886165,0.635279,0.740037,0.322844,0.680590,0.437945,0.335943,0.0,277,1012,581,130

In [24]:
all_col_top_rows = {}
for col in columns_max:
    top_rows = app_2.sort_values(by=[col],ascending=False)[:top_n]['k_neighbour']
    all_col_top_rows[col + '_top_rows'] = set(top_rows)

for col in columns_min:
    top_rows = app_2.sort_values(by=[col],ascending=True)[:top_n]['k_neighbour']
    all_col_top_rows[col + '_top_rows'] = set(top_rows)

In [25]:
# Finding rows which are common in all the top_rows
common_rows = set()
for key,value in all_col_top_rows.items():
    if len(common_rows) == 0:
        common_rows = value
    else:
        common_rows = common_rows.intersection(value)
#     break

In [26]:
common_rows

{144}

In [27]:
top_rows_app_2 = app_2[app_2['k_neighbour'].isin(common_rows)]
top_rows_app_2

,k_neighbour,train_accuracy,test_accuracy,roc_auc,precision_0,recall_0,f1_0,precision_1,recall_1,f1_1,ks_stat,p_value,tp,tn,fp,fn
143,144,0.672292,0.6725,0.680085,0.894781,0.667294,0.764473,0.347291,0.692875,0.462674,0.369659,0.0,282,1063,530,125

In [29]:
top_rows_app_2.sort_values(by=['test_accuracy'], ascending=False).T

                        143
k_neighbour      144.000000
train_accuracy     0.672292
test_accuracy      0.672500
roc_auc            0.680085
precision_0        0.894781
recall_0           0.667294
f1_0               0.764473
precision_1        0.347291
recall_1           0.692875
f1_1               0.462674
ks_stat            0.369659
p_value            0.000000
tp               282.000000
tn              1063.000000
fp               530.000000
fn               125.000000